<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestRiverWatchApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="RiverWatchEntities" connectionString="metadata=res://*/RiverWatchModel.csdl|res://*/RiverWatchModel.ssdl|res://*/RiverWatchModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=istrwtest.database.windows.net;initial catalog=RiverWatch;persist security info=True;user id=istonish;password=RiverWatch!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <TestRiverWatchApi.Properties.Settings>
      <setting name="WebAPI_UserName" serializeAs="String">
        <value>Bill</value>
      </setting>
      <setting name="WebAPI_Password" serializeAs="String">
        <value>Password1</value>
      </setting>
      <setting name="WebAPI_URI_Bill_Local" serializeAs="String">
        <value>http://dev.coloradoriverwatch.com/api/InboundICPFinals</value>
      </setting>
      <setting name="WebAPI_URI_Azure_Test" serializeAs="String">
        <value>http://coloradoriverwatchapi.azurewebsites.net/api/</value>
      </setting>
      <setting name="WebAPI_URI_Localhost" serializeAs="String">
        <value>http://localhost:21028/api/</value>
      </setting>
    </TestRiverWatchApi.Properties.Settings>
  </applicationSettings>
</configuration>